<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdinit.icecream.sys.mapper.TDictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zdinit.icecream.sys.entity.TDictionary">
        <id column="id" property="id" />
        <result column="d_code" property="dCode" />
        <result column="d_codename" property="dCodename" />
        <result column="d_shortname" property="dShortname" />
        <result column="d_parentcode" property="dParentcode" />
        <result column="d_level" property="dLevel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, d_code, d_codename, d_shortname, d_parentcode, d_level
    </sql>

</mapper>
