<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdinit.icecream.sys.mapper.TDictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zdinit.icecream.sys.entity.TDictionary">
        <id column="ID" property="id" />
        <result column="D_CODE" property="dCode" />
        <result column="D_CODENAME" property="dCodename" />
        <result column="D_SHORTNAME" property="dShortname" />
        <result column="D_PARENTCODE" property="dParentcode" />
        <result column="D_LEVEL" property="dLevel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, D_CODE, D_CODENAME, D_SHORTNAME, D_PARENTCODE, D_LEVEL
    </sql>

</mapper>
