<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdinit.icecream.sys.mapper.TRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zdinit.icecream.sys.entity.TRole">
        <id column="ID" property="id" />
        <result column="R_NAME" property="rName" />
        <result column="R_DESC" property="rDesc" />
        <result column="R_TIME" property="rTime" />
        <result column="R_SCOPE" property="rScope" />
        <result column="R_AMOUNT" property="rAmount" />
        <result column="R_PRODUCT_TYPE" property="rProductType" />
        <result column="R_CODE" property="rCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, R_NAME, R_DESC, R_TIME, R_SCOPE, R_AMOUNT, R_PRODUCT_TYPE, R_CODE
    </sql>

</mapper>
