<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdinit.icecream.sys.mapper.TUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zdinit.icecream.sys.entity.TUser">
        <id column="ID" property="id" />
        <result column="U_LOGINNAME" property="uLoginname" />
        <result column="U_PASSWORD" property="uPassword" />
        <result column="U_NAME" property="uName" />
        <result column="U_STATUS" property="uStatus" />
        <result column="U_TIME" property="uTime" />
        <result column="U_DEPTID" property="uDeptid" />
        <result column="U_EMAIL" property="uEmail" />
        <result column="U_TELPHONE" property="uTelphone" />
        <result column="C_CUSTMANAGERID" property="cCustmanagerid" />
        <result column="C_CUSTNUM" property="cCustnum" />
        <result column="C_CUSTNAME" property="cCustname" />
        <result column="U_PSSWDUPDATE" property="uPsswdupdate" />
        <result column="U_CUSTMANAGERFLAG" property="uCustmanagerflag" />
        <result column="U_CUSTEXECUTIVEFLAG" property="uCustexecutiveflag" />
        <result column="C_PASSWD_TIME" property="cPasswdTime" />
        <result column="C_LOGIN_TIME" property="cLoginTime" />
        <result column="C_OLD_PASSWD" property="cOldPasswd" />
        <result column="AGENT_FLAG" property="agentFlag" />
        <result column="ADMIN_FLAG" property="adminFlag" />
        <result column="PJS_USER_NO" property="pjsUserNo" />
        <result column="PJS_USER_NAME" property="pjsUserName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, U_LOGINNAME, U_PASSWORD, U_NAME, U_STATUS, U_TIME, U_DEPTID, U_EMAIL, U_TELPHONE, C_CUSTMANAGERID, C_CUSTNUM, C_CUSTNAME, U_PSSWDUPDATE, U_CUSTMANAGERFLAG, U_CUSTEXECUTIVEFLAG, C_PASSWD_TIME, C_LOGIN_TIME, C_OLD_PASSWD, AGENT_FLAG, ADMIN_FLAG, PJS_USER_NO, PJS_USER_NAME
    </sql>

</mapper>
